.cart-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .card-style {
        overflow-y: auto;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        height: 58vh;


        .cart-button-style {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 35px;
        }

        .cart-wrapper {
            display: flex;

            .cart-items {
                display: flex;
                flex-direction: column;
                width: 70%;
                font-size: 11px;
                line-height: 1px;

                .product-name {
                    color: blue;
                    font-weight: bold;
                }

                .product-detail {
                    color: grey;
                }
            }

            .total-div {
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .quantity-margin {
                    margin-top: -10px;
                }

                .quantity-div {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                }
            }

            .horizontal-line {
                height: 1px;
                /* border: 1px solid red; */
            }
        }
    }

    .total-card {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;

        .total-inner-div {
            display: flex;
            justify-content: space-between;
        }

        .pay-button {
            background-color: aqua;
            color: black;
        }

        .payStatus {
            font-weight: bold;
        }

        .payment-form {
            width: 150px;
        }

        .save-btn-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .save-btn {
                background-color: aqua;
                width: 150px;
                color: black;
            }
        }

    }
}

.bill-style {
    visibility: hidden;
}