.wrapper {
    display: flex;
    height: 90vh;
    gap: 15px;

    .left-side {
        width: 65%;
        height:100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        .form-width {
            width: 90%;
        }
        .table-height{
            height: 100%
        }
    }

    .right-side {
        width: 35%;
        margin-right: 10px;
        height: 100%;
    }
}