.main {
    background-color: aqua;
    width: fit-content;
    border-radius: 10px;
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    /* transition: all 1s; */

    .brand-style {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 40px;
        padding-right: 40px;

        .image-style {
            height: 30px;
            background-color: aqua;
        }
    }

    .link-style {
        display: flex;
        align-items: center;
        list-style: none;
        text-decoration: none;
        padding-left: 40px;
        padding-right: 40px;
        gap: 10px;
        height: 40px;

        .link-text-style {
            text-decoration: none;
            color: black;
        }
    }

    .link-style:hover {
        background-color: white;
    }

    .arrow-style {
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}